/*General Styling*/
*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body {
    margin: 20px;
    padding: 100px 20px 10px; /* Adjusted padding for top, left/right, and bottom */
}



/* Header Styling */
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: white;
    z-index: 100;
    padding: 10px 2px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    margin-right: 107px;
}
.menu{
    width: 24px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    cursor: pointer;
}
.menu:hover{
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
}
.YT-logo{
    width: 90px;
    margin-right: 15px;
    padding-top: 4px;
}
span{
    margin-left: -11px;
    margin-top: -13px;
    color: rgb(105, 105, 105);
    font-size: 12px;
}
.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 107px;
}
.focus-search-button{
    visibility: hidden;
}
input{
    height: 40px;
    width: 532px;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}
input::placeholder{
    font-size: 16px;
    color: rgb(146, 146, 146);
}
.search-button-div{
    position: relative;
}
.search-button{
    height: 40px;
    width: 64px;
    margin-left: -2px;
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgray;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.search-icon{
    width: 26px;
    padding-top: 5px;
    padding-left: 4px;
}
.search-button-div .tooltip{
    position: absolute;
    background-color: rgba(109, 108, 108, 0.925);
    color: white;
    width: 40px;
    font-size: 13px;
    padding: 10px 8px;
    border-radius: 4px;
    top: 61px;
    left: 1px;
    z-index: 100;
    transition: visibility 0.15s;
    visibility: hidden;
}
.search-button-div:hover .tooltip{
        visibility: visible;
}
.voice-search-div{
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgb(240, 238, 238);
    cursor: pointer;
}
.voice-search:hover{
    background-color: rgb(225, 225, 225);
}
.voice-search-div .tooltip{
    position: absolute;
    background-color: rgba(109, 108, 108, 0.925);
    color: white;
    width: 130px;
    font-size: 13px;
    padding: 10px 8px;
    border-radius: 4px;
    top: 61px;
    left: -45px;
    z-index: 100;
    visibility: hidden;
}
.voice-search-div:hover .tooltip{
    visibility: visible;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 172px;
}
.create-div{
    position: relative;
}
.create{
    width: 24px;
    margin-right: 8px;
    padding: 8px;
    cursor: pointer;
}
.create:hover{
    background-color: rgb(225, 225, 225);
    border-radius: 50%;
}
.create-div .tooltip{
    position: absolute;
    background-color: rgba(109, 108, 108, 0.925);
    color: white;
    width: 40px;
    font-size: 13px;
    padding: 10px 8px;
    border-radius: 4px;
    top: 62px;
    left: -5px;
    z-index: 100;
    visibility: hidden;
}
.create-div:hover .tooltip{
    visibility: visible;
}
.notifications-container{
    position: relative;
    margin-top: 4px;
}
.notifications{
    width: 24px;
    margin-right: 13px;
    padding: 8px;
    cursor: pointer;
}
.notifications-num{
    display: block;
    position: absolute;
    top: 4px;
    right: 13px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 5px;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
}
.notifications:hover{
    background-color: rgb(225, 225, 225);
    border-radius: 50%;
}
.notifications-container .tooltip{
    position: absolute;
    background-color: rgba(109, 108, 108, 0.925);
    color: white;
    width: 75px;
    font-size: 13px;
    padding: 10px 8px;
    border-radius: 4px;
    top: 60px;
    left: -20px;
    z-index: 100;
    visibility: hidden;
}
.notifications-container:hover .tooltip{
    visibility: visible;
}
.profile-pic{
    width: 32px;
    margin-right: 17px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-pic:active{
    padding: 0px;
    margin-left: 8px;
    border: 1px solid blue;
}


/*Tags Styling*/
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 50px;
    right: 0;
    left: 65px;
    height: 72px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 26px;
    z-index: 90;
}
.tags button:not(.all){
    padding: 7px 18px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.all{
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin-left: -7px;
    padding: 7px 12px 8px 12px;
}
.more-tags{
    width: 13px;
    margin-right: 3px;
}


/*sidebar Styling*/
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    position: fixed;
    top: 61px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    z-index: 100;
}
.home, .shorts-sidebar, .sub, .you, .downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-bottom: 14px;
}
.home-icon, .sub-icon, .you-icon{
    width: 24px;
    padding-bottom: 2px;
    padding-top: 13px;
}
.downloads-icon{
    width: 18px;
    padding-bottom: 4px;
    padding-top: 13px;
}
.shorts-icon{
    padding-top: 13px;
    margin-top: -3px;
    width: 28px;
}
.sidebar p{
    margin: 0;
    font-size: 10px;
}
.home:hover, .sub:hover, .you:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
}
.downloads:hover, .shorts-sidebar:hover {
    background-color: rgb(240, 240, 240) !important;
    border-radius: 6px !important;
}


/*Video and Shorts Styling*/
.video-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 18px;
    row-gap: 20px; 
    margin-left: 57px;
    padding-top: 10px;

}
@media (min-width: 600px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
        margin-left: 57px; /* Restore original left margin */
    }
}

@media (min-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns on larger screens */
    }
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: repeat(4, 1fr); /* Four columns on extra-large screens */
    }
}
@media (max-width: 888px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 889px) and (max-width: 1281px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1282px) and (max-width: 1401px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1402px) and (max-width: 1752px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1753px) and (max-width: 2102px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 2103px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.video-thumbnail{
    position: relative;
}
.thumbnail{
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
}
.thumbnail:hover{
    opacity: 0.9;
}
.vid-time{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 13px;
    font-weight: 400;
    bottom: 10px;
    right: 10px;
    padding: 4px;
    border-radius: 4px;
}
.video-details{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-pic{
    vertical-align: top;
}
.profile-picture{
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.video-title{
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 320px;
    cursor: pointer;
    color: black;
}
.author-div{
    position: relative;
}
.author-div .tooltip{
    position: absolute;
    background-color: rgba(109, 108, 108, 0.925);
    color: white;
    width: auto;
    font-size: 13px;
    padding: 10px 8px;
    border-radius: 4px;
    top: -60px;
    left:7px;
    z-index: 100;
    transition: visibility 0.15s;
    visibility: hidden;
}
.author-div:hover .tooltip{
    visibility: visible;
}
.author, .stats{
    margin-left: 8px;
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
    margin-top: 0;
}
.author{
    cursor: pointer;
}
.verified-sign{
    width: 13px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 2px;
}

.shorts{
    display: flex;
    flex-direction: column;
}
.shorts-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    padding-top: 18px;

}
.shorts-part-logo{
    width: 18px;
    margin-right: 10px;
    padding-top: 2px;
}
.shorts-part-logo img{
    width: 16px;
}
.shorts-title p{
    width: 65px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: -2px;
}
.shorts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    margin-top: 12px;
    margin-bottom: 45px;
    margin-left: 45px;
}

.short-thumbnail{
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
}
.short-thumbnail:hover{
    opacity: 0.9;
}
.short-title{
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 215px;
    cursor: pointer;
    color: black;   
}
.short-stats{
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
    margin-top: 0;
}


.clear-icon {
    pointer-events: none;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 150px !important;
    top: 50%;
    transform: translateY(-50%);
}
.tags button:not(.all):hover {
    background: #d8d8d8;
}


@media (min-width: 768px) {
    .header {
        padding:10px 5px;/* Adjusted padding for top and sides on tablets */
    }

    .middle {
        display: flex;
        flex: 1;
        margin-right: 107px;
    }

    .right {
        display: flex;
    }

    .search-button-div,
    .voice-search-div {
        display: block; /* Show on tablets and larger */
    }
}
@media (max-width: 768px) {
    /* Header */
    .header {
        padding: 0 12px;
        height: 48px;
    }

    .header .logo {
        width: 100px;
    }

    .header .search-bar {
        margin: 0 12px;
    }

    .header .search-bar input {
        padding: 8px;
    }

    /* Tags */
    .tags {
        padding: 8px 12px;
    }

    /* Sidebar */
    .sidebar {
        width: 56px;
    }

    .sidebar .menu-item {
        padding: 10px 0;
    }

    /* Video Grid */
    .video-grid {
        margin-left: 56px;
/*        padding: 12px;*/
        display:inline-grid;
    }
}
@media (min-width: 554px) and (max-width: 887px){
    .shorts-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 888px) and (max-width: 1007px){
    .shorts-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 768px) {
    .header {
        padding: 10px 5px;
    }

    .middle {
        margin-right: 107px;
    }

    .right {
        display: flex;
    }

    .search-button-div,
    .voice-search-div {
        display: block;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 12px;
        height: 48px;
    }

    .tags {
        padding: 8px 12px;
    }

    .sidebar {
        width: 56px;
    }

    .video-grid {
        margin-left: 56px;
    }
}

@media (min-width: 554px) and (max-width: 887px) {
    .shorts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 888px) and (max-width: 1007px) {
    .shorts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.shorts-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    margin: 12px 45px 45px;
}

@media (max-width: 600px) {
    .shorts-grid {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
}

@media (min-width: 601px) and (max-width: 887px) {
    .shorts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 888px) and (max-width: 1007px) {
    .shorts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.video-grid {
    display: grid;
    column-gap: 18px;
    row-gap: 20px;
    margin-left: 57px;
    padding-top: 10px;
}

@media (min-width: 600px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
}

@media (min-width: 601px) and (max-width: 887px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 888px) and (max-width: 1007px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1282px) and (max-width: 1401px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1402px) and (max-width: 1752px) {
    .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1753px) and (max-width: 2102px) {
    .video-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 2103px) {
    .video-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}



